<%- include('./partials/header') %>
    <h1>Listado Pelicula</h1>
            <ul>

                <% for( let index = 0; index < peliculas.length; index++ ) { %>
                    <li>
                        <a href="/peliculas/detalle/<%= peliculas[index].id %>">
                            <%= peliculas[index].title %>
                        </a>
                    </li>
                <% } %>
                    
            </ul>
                    
<%- include('./partials/footer.ejs') %> 